[Unit]
Description=Phidget DjHome Server process manager
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/bin/circusd /home/pi/djhome/circus.ini
ExecStop=/usr/local/bin/circusctl stop
ExecReload=/usr/local/bin/circusctl reload
Restart=always
RestartSec=5
Environment="DEBUG=false"

[Install]
WantedBy=multi-user.target
